<<<<<<< HEAD
.container{
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.listContainer {
    display: flex;
    gap:30px;
    margin-top: 5%;
    width: 1024px;
    justify-content: space-between;
}

.listItem{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 50%;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 4px 21px 1px rgba(0,0,0,0.56);
    color: rgb(3, 3, 3);
    overflow: hidden;
}

.textContainer{
    position: relative;
    left:5%;
    bottom:100%;
    color:rgb(245, 245, 245);
    text-shadow: 0px 5px 7px rgba(0,0,0,0.7)
}
=======
.listContainer{
    display: flex;
    margin-top: 5%;
    width: 100%;
    justify-content: center;
}

.cardContainer{
    display: grid;
    width: 1024px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 41px;
    grid-row-gap: 0px;
}

.listCard{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border:none;
    border-radius: 10px;
    box-shadow: -1px 7px 28px 1px rgba(0,0,0,0.66);

}

.listCard img {
    width: 100%;
    height: 200px;
    object-fit: cover; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.textContainer{
    margin-top: -50%;
    padding-left: 4%;
    width: 100%;
    color: rgb(218, 218, 218);
    text-shadow: -2px 5px 3px rgba(0,0,0,0.6);

}
>>>>>>> 6352f6046e83b52fac168ff61f5de8b08439f4dc
