.container{
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.listContainer {
    display: flex;
    gap:30px;
    margin-top: 5%;
    width: 1024px;
    justify-content: space-between;
}

.listItem{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 50%;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 4px 21px 1px rgba(0,0,0,0.56);
    color: rgb(3, 3, 3);
    overflow: hidden;
}

.textContainer{
    position: relative;
    left:5%;
    bottom:100%;
    color:rgb(245, 245, 245);
    text-shadow: 0px 5px 7px rgba(0,0,0,0.7)
}
